<!-- 计算器部分 -->
<h4 class="title02">第三个应用： 计算器(练习依赖注入)</h4>
<hr style="clear: both;">
<div ng-controller="myCalculatorCtrl">
    <!-- 方法一 -->
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <input type="number" class="form-control" ng-model="a">
        </div>
        <div class="col-sm-3 col-md-3">
            <input type="number" class="form-control" ng-model="b">
        </div>

        <div class="col-sm-2 col-md-2 controls">
            <select ng-model="mark"> 
                <option value="">请选择操作符</option>
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
        </div>
        <div class="col-sm-2 col-md-2">
            <button class="btn btn-primary" ng-click="getResult()">计算</button>
        </div>
        <div class="col-sm-2 col-md-2">
            <input type="number" class="form-control" ng-model="result">
        </div>
    </div>

    <!-- 方法二 -->
    <!--
            <div class="CalFream">
                <div class="myReault">
                    <input type="text" name="result" ng-model="result" class="inner">
                </div>
                <div >
                    <input type="button" value="+" class="btn btn-primary btn-lg" ng-click="">
                    <input type="button" value="-" class="btn btn-primary btn-lg" ng-click="">
                    <input type="button" value="*" class="btn btn-primary btn-lg" ng-click="">
                    <input type="button" value="/" class="btn btn-primary btn-lg" ng-click="">
                </div>
                <div >
                    <input type="button" value="7" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="8" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="9" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="x^2" class="btn btn-primary btn-lg" ng-click="">
                </div>
                <div>
                    <input type="button" value="4" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="5" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="6" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="x^3" class="btn btn-primary btn-lg" ng-click="">
                </div>
                <div>
                    <input type="button" value="1" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="2" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="3" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="x!" class="btn btn-primary btn-lg" ng-click="">
                </div>
                <div >
                    <input type="button" value="0" class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="." class="btn btn-primary btn-lg" ng-click="inputEvent(this)">
                    <input type="button" value="=" ng-click="result()" class="btn btn-primary btn-lg" >
                </div>

            </div>
        -->
</div>