<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="short icon" type="X-icon" href="../../../resources/images/Aco_favicon.ico">
    <title>AngularJs Test By Aco</title>

    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    <script src="../../Frame-Files/angularJs/1.4.6/angular.min.js"></script>

</head>

<body>
    <div ng-app="myApp" ng-init="myname='Aco';number={a: 1,b: 2};points=[0,1,2,3,4,5,6];people=[{username: 'Aco', year: 23},{username: 'Tom',year: 22}]"
        ng-controller="myCtrl">

        <div>
            <p>Name: <input type="text" name="name" value="" ng-model="name"></p>
            <p>Habby: <input type="text" name="habby" ng-model="habby"></p>
            <h1>Hello {{name}}</h1>
            <p>nice to meet <span ng-bind="name"></span></p>
            <p>His Hobby is <span ng-bind="habby"></span></p>

            <hr>
            <p>a = 1, b = 2, 方法一：花括号嵌套 a + b = {{(number.a + number.b) | currency}}</p>
            <p>a = 1, b = 2, 方法二：ng-bind a + b = <span ng-bind="number.a + number.b"></span></p>

            <hr>
            <p>测试数组 points[1] = {{points[1]}}</p>
            <p>练习 ng-repeat </p>
            <p>数组</p>
            <ul>
                <li ng-repeat="x in points">
                    {{x}}
                </li>
            </ul>
            <p>对象(Json格式)</p>
            <ul>
                <li ng-repeat="p in people">
                    {{(p.username | uppercase) + ', '+ p.year}}
                </li>
            </ul>

            <aco></aco>
            <p aco></p>
            <hr>
            <form name="myForm01" ng-init="myEmail = '2973978759@qq.com'">
                Email: <input type="email" name="myEmail" ng-model="myEmail" required>
                <span ng-show="myForm01.myEmail.$error.email" style="color: red;">格式错误！</span>
            </form>

            <hr>
            <p>练习过滤器(
                <del>好像不支持多个对象</del> 经测试，加() 就OK, 另外，ng-model的名字不能加-)</p>
            <p>姓名转换为大写: {{myname | uppercase}}</p>

            <p>对输入进行过滤： <input type="text" name="test" ng-model="testFilter"></p>
            <ul>
                <li ng-repeat="x in people | filter:testFilter | orderBy:'year'">
                    {{ (x.username | uppercase) + ', ' + x.year }}
                </li>
            </ul>

            <p>149016.1945000保留两位小数{{149016.1945000 | number:2}}</p>
            <p>测试自定义过滤器，reverse：过滤前{{myname}}, 过滤后 {{myname | reverse}}</p>

            <hr>
            <p>练习angularjs服务</p>
            <p>当前URL： {{myUrl}}</p>

            <p>$timeout : 2秒后信息改变</p>
            <h2>{{myHeader}}</h2>

            <p>$interval 当前时间：
                <h2>{{myTime}}</h2>
            </p>

            <p>练习$http</p>
            <ul>
                <li ng-repeat="x in myResponse">
                    {{ x.name + ', ' + x.year + ', ' + x.hobby }}
                </li>
            </ul>

            <p>练习Select </p>
            <select ng-init="selectedName = names[0]" ng-model="selectedName" ng-options="x for x in names"></select>

            <p>使用ng-options 实现选项(选项是一个对象)</p>
            <p>使用ng-repeat 实现选项(选项是一个字符串)</p>
            <select>
                <option ng-repeat="x in names">{{x}}</option>
            </select>

            <p>数据源为对象, x 为键(key), y 为值(value):</p>
            <select ng-model="selectedCar" ng-options="x for (x,y) in cars">
            </select> 你选择了: {{selectedCar.brand}}&nbsp;&nbsp;&nbsp;模型：{{selectedCar.model}}&nbsp;&nbsp;&nbsp;颜色：{{selectedCar.color}}

            <select ng-model="selectedCar" ng-options="y.brand for (x,y) in cars"></select>

            <hr>
            <p>练习angular 表格</p>
            <style>
                .mytable tr:nth-child(odd) {
                    background-color: aqua;
                }

                .mytable tr:nth-child(even) {
                    background-color: aquamarine;
                }
            </style>

            <table border="1" class="mytable">
                <tr ng-repeat="x in cars | orderBy : 'brand'">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ x.brand | uppercase }}</td>
                    <td>{{ x.model }}</td>
                    <td>{{ x.color }}</td>
                </tr>
            </table>

            <hr>
            <p>练习angularJs事件</p>
            <button type="button" ng-click="count = count + 1">点我++</button>
            <p>{{ count }}</p>

            <p>练习angularJS 动画</p>
            <style>
                .test-Animate {
                    height: 100px;
                    width: 500px;
                    background-color: aqua;
                }
                
                @keyframes myChange {
                    from {
                        height: 100px;
                    } to {
                        height: 0;
                    }
                }

                .test-Animate.ng-hide {
                    animation: 2s myChange;
                }

            </style>

            隐藏Div : <input type="checkbox" ng-model="myAnimate">
            <div ng-hide="myAnimate" class="test-Animate"></div>


        </div>

        <div ng-controller="formCtrl">
            <p>一个完整的anjularJS form表单</p>
            <form action="" novalidate name="myForm02" >
                Username : <input type="text" ng-model="username" name="username" required> 您的用户名是 {{ username }} 
                <span style="color: red;" ng-show="myForm02.username.$dirty && myForm02.username.$invalid">
                    <span ng-show="myForm02.username.$error.required">用户名是必须的!</span>
                </span><br> 
                Password : <input type="password" ng-model="password" name="password" required> 您的密码是 {{ password }} 
                <span style="color: red;" ng-show="myForm02.password.$dirty && myForm02.password.$invalid">
                    <span ng-show="myForm02.password.$error.required">密码不能为空!</span>
                </span><br>
                Email : <input type="email" ng-model="email" name="email" required> 您的邮箱是 {{ email }} 
                <span style="color: red;" ng-show="myForm02.email.$dirty && myForm02.email.$invalid">
                    <span ng-show="myForm02.email.$error.required">邮箱不能为空！</span>
                    <span ng-show="myForm02.email.$error.email">邮箱格式错误！</span>
                </span><br> 

                <p>复选框</p>
                Check to Show The Hidden Message : <input type="checkbox" ng-model="myVar">
                <h2 ng-show="myVar">Aco 真帅</h2>
                <p>单选框</p>
                <input type="radio" ng-model="myVar2" value="Aco">Aco
                <input type="radio" ng-model="myVar2" value="TXL">TXL
                <input type="radio" ng-model="myVar2" value="Eric">Eric

                <div ng-switch="myVar2">
                    <div ng-switch-when="Aco">
                        <p>您选择的是 Aco </p>
                    </div>
                    <div ng-switch-when="TXL">
                        <p>您选择的是 TXL </p>
                    </div>
                    <div ng-switch-when="Eric">
                        <p>您选择的是 Eric </p>
                    </div>
                </div>

                <p>下拉框</p>
                <select name="" id="" ng-model="myVar2">
                    <option value=""></option>
                    <option value="Aco">Aco</option>
                    <option value="TXL">TXL</option>
                    <option value="Eric">Eric</option>
                </select><br><br>

                <input type="submit" ng-disabled="myForm02.username.$dirty && myForm02.username.$invalid || myForm02.password.$dirty && myForm02.password.$invalid || myForm02.email.$dirty && myForm02.email.$invalid">
            </form>


        </div>

    </div>

    <script>
        var app = angular.module('myApp', ['ngAnimate']);
        app.controller('myCtrl', function ($scope, $location, $timeout, $interval, $http) {
            $scope.name = "Aco";
            $scope.habby = "Coding";
            $scope.myUrl = $location.absUrl();
            $scope.myHeader = "Hello ";
            $scope.names = ["Apple", "Google", "Tecent"];
            $scope.cars = {
                car01: {
                    brand: "Ford",
                    model: "Mustang",
                    color: "red"
                },
                car02: {
                    brand: "Fiat",
                    model: "500",
                    color: "white"
                },
                car03: {
                    brand: "Volvo",
                    model: "XC90",
                    color: "black"
                }
            };

            $scope.count = 0;

            $timeout(function () {
                $scope.myHeader = "I'm Coming !";
            }, 2000);

            $scope.myTime = new Date().toLocaleTimeString();
            $interval(function () {
                $scope.myTime = new Date().toLocaleTimeString();
            }, 1000);

            // http
            $http({
                method: 'GET',
                url: 'http://139.199.7.254:8080/AcoTest/person.php'
            }).then(function successCallback(response) {
                $scope.myResponse = response.data.person;
            }, function errorCallback(response) {
                // 请求失败
                // alert("请求失败");
            });


        });

        // 自定义指令
        app.directive("aco", function () {
            return {
                template: "<h1>Hello ,我是Aco~</h1>"
            };
        });

        // 自定义过滤器
        app.filter('reverse', function () {
            return function (text) {
                return text.split("").reverse().join("");
            }
        })

        // myfrom
        app.controller("formCtrl", function ($scope) {
            $scope.username = "Aco";
            $scope.password = "******";
            $scope.email = "222";
        });


        /* 小测试  */
        var t = document.title;
        var title = {
            focus: t,
            exit: 'TAT 不要离开我',
        }

        window.onblur = () => {
            document.title = title.exit;
        }

        window.onfocus = () => {
            document.title = title.focus;
        }
    </script>
</body>

</html>