<h4 class="title02">第一个应用： 备忘录(练习ng-model, ng-repeat,$interval服务，以及与bootstrap的结合，两个ng-model之间的通信)</h4>
<div ng-controller="myTodoListCtrl">
    <h4 class="mytime">时间：{{ tempTime }}</h4>
    <hr style="clear: both;">
    <div class="myform">
        <form ng-submit="todoAdd()" role="form">
            <div class="form-group">
                <label for="todo" class="col-xs-12 col-sm-2 col-md-2">输入任务： </label>
                <div class="col-xs-6 col-sm-8 col-md-8">
                    <input name="todo" type="text" ng-model="todoInput" class="form-control" placeholder="新增">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2">
                    <input type="submit" value="新增" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    <br>
    <div>
        <div ng-repeat="x in todoList">
            <input type="checkbox" ng-model="x.tDone"> <span ng-bind="x.todoText"></span>
        </div>
    </div>

    <hr>
    <div>
        <div ng-repeat="y in doneList">
            <input type="checkbox" class="" ng-model="y.cDone">
            <span ng-bind="y.doneText"></span>
        </div>
    </div><br>

    <div><button ng-click="completed()" class="btn btn-success">已完成</button></div>
</div>
<script src="pages/TodoList/myTodoListCtrl.js"></script>